body{
    font-family: sans-serif;
    background-color: white;
}


.sect{
    display: flex;
    justify-content: space-around;

}

a{
    text-decoration: none;
}

.options{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.options img{
    width: 30px;
    margin-right: 3%;
}
.options button{
    background-color: #a4c3b2;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 12vw;
    height: 50px;
    display: flex;
    align-items: center;
}

.carro button{
    background-color: #a4c3b2;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 12vw;
    height: 50px;
    display: flex;
    align-items: center;
}
.carro img{
    width: 30px;
    margin-right: 3%;
}

.options button:hover{
    background-color: #6b9080;
}
.carro button{
    background-color: #436355;
}
.container2{
    background-color: #f6fff8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 98vh;
}

.conatiner3{
    border: solid 1px #6b9080;
    border-radius: 10px;
    width: 1750px;
    height: auto;
    overflow: scroll;
    scrollbar-color: #436355;
    padding: 1%;
    height: 820px;
}

.grid-container {
    border-radius: 30px;
    border: solid 2px #567769;
    margin-bottom: 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img{
    width: 30%;
}
.cant{
    width: 5vw;
    height: 2vh;
    border: solid 1px;
}
.boton{
    cursor: pointer;
    border: solid 1px #567769;
    border-radius: 15px;
    background-color: #a4c3b2;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.action{
  display: flex;
  flex-direction: row; 

}

.item{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    width: 200px;
    background-color: #436355;
}